.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SSRT/FileContentIndex/3f92f928-7604-41c3-9142-ecb02e53f2f0.vsidx
.vs/SSRT/FileContentIndex/9a9aa249-e436-4a58-9b20-2a8ff11b9413.vsidx
.vs/SSRT/FileContentIndex/c7997bd9-8b62-4864-be4d-f695265933fe.vsidx
.vs/SSRT/FileContentIndex/d0de1b0c-3164-4c19-a905-feebcbb04d64.vsidx
.vs/SSRT/FileContentIndex/dbf4584d-d3fa-49eb-894d-c6ae204032a3.vsidx
.vs/SSRT/v17/.wsuo
.vs/SSRT/v17/Browse.VC.db
.vs/SSRT/v17/Browse.VC.db-shm
.vs/SSRT/v17/Browse.VC.db-wal
.vs/SSRT/v17/Browse.VC.opendb
.vs/SSRT/v17/DocumentLayout.backup.json
.vs/SSRT/v17/DocumentLayout.json
.vs/SSRT/v17/ipch/AutoPCH/316388755d406356/MAIN.ipch
.vs/SSRT/v17/ipch/AutoPCH/af765576de8808cb/VCTMP21976_709740.MAIN.00000000.ipch
.vs/SSRT/v17/ipch/AutoPCH/f0964220e5883db5/MAIN.ipch
.vs/SSRT/v17/Solution.VC.db
.vs/VSWorkspaceState.json
external/ispc-v1.28.2-windows/bin/ispc.dll
external/ispc-v1.28.2-windows/bin/ispc.exe
external/ispc-v1.28.2-windows/bin/ispcrt.dll
external/ispc-v1.28.2-windows/bin/ispcrt_device_cpu.dll
external/ispc-v1.28.2-windows/bin/ispcrt_device_gpu.dll
external/ispc-v1.28.2-windows/contrib/ispc.vim
external/ispc-v1.28.2-windows/contrib/ispc.vim.README
external/ispc-v1.28.2-windows/css/ie.css
external/ispc-v1.28.2-windows/css/style.css
external/ispc-v1.28.2-windows/faq.html
external/ispc-v1.28.2-windows/include/intrinsics/emmintrin.isph
external/ispc-v1.28.2-windows/include/intrinsics/xmmintrin.isph
external/ispc-v1.28.2-windows/include/ispc/ispc.h
external/ispc-v1.28.2-windows/include/ispcrt/ispcrt.h
external/ispc-v1.28.2-windows/include/ispcrt/ispcrt.hpp
external/ispc-v1.28.2-windows/include/ispcrt/ispcrt.isph
external/ispc-v1.28.2-windows/include/stdlib/short_vec.isph
external/ispc-v1.28.2-windows/ispc.html
external/ispc-v1.28.2-windows/lib/cmake/ispc/ispc_Exports-release.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispc/ispc_Exports.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispc/ispcConfig.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispc/ispcConfigVersion.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/Finddpcpp_compiler.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/Findlevel_zero.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/interop.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/ispc.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/ispcrt_Exports-release.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/ispcrt_Exports.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/ispcrtConfig.cmake
external/ispc-v1.28.2-windows/lib/cmake/ispcrt-1.28.2/ispcrtConfigVersion.cmake
external/ispc-v1.28.2-windows/lib/ispc.lib
external/ispc-v1.28.2-windows/lib/ispcrt.lib
external/ispc-v1.28.2-windows/lib/ispcrt_device_cpu.lib
external/ispc-v1.28.2-windows/lib/ispcrt_device_gpu.lib
external/ispc-v1.28.2-windows/lib/ispcrt_static.lib
external/ispc-v1.28.2-windows/LICENSE.txt
external/ispc-v1.28.2-windows/perfguide.html
external/ispc-v1.28.2-windows/ReleaseNotes.txt
external/ispc-v1.28.2-windows/third-party-programs.txt
.vs/SSRT/FileContentIndex/0868cdc5-1fe5-40f5-afe5-663ba61c6401.vsidx
.vs/SSRT/FileContentIndex/3abc9f90-de73-471a-b31e-b3c485e062ad.vsidx
.vs/SSRT/FileContentIndex/3cb795da-34f6-4f2f-8727-3f597150b3cc.vsidx
.vs/SSRT/FileContentIndex/6206c5e3-2277-4a30-ab99-a9ab1a2a84a5.vsidx
.vs/SSRT/FileContentIndex/76dcc311-3495-47e7-8980-23a44186b3a9.vsidx
.vs/SSRT/FileContentIndex/d89a2f73-bbf2-4aa5-9506-4b4efd3c2949.vsidx
.vs/SSRT/v17/ipch/AutoPCH/230467bd10446dd7/THREAD_POOL.ipch
.vs/SSRT/v17/ipch/AutoPCH/5dc22c06f5fcfebf/QUAD.ipch
.vs/SSRT/v17/ipch/AutoPCH/64056103b450a623/AABB_PACKET.ipch
.vs/SSRT/v17/ipch/AutoPCH/8abdb9c26693439/MORTON2D.ipch
.vs/SSRT/v17/ipch/AutoPCH/a89d48b38e218908/COLORSPACETRANSFORM.ipch
.vs/SSRT/v17/ipch/AutoPCH/c251e442bc40af35/SIMD_VEC3.ipch
.vs/SSRT/v17/ipch/AutoPCH/c2604de856284217/TRYOCIO.ipch
.vs/SSRT/v17/ipch/AutoPCH/c734f8f4a17868f9/OCIOYAML.ipch
.vs/SSRT/v17/ipch/AutoPCH/e0117644ed7cf344/FAST_RNG.ipch
.vs/SSRT/v17/workspaceFileList.bin
.vs/SSRT/FileContentIndex/64069437-dacc-4ed4-b1a5-104368390da9.vsidx
renders/SSRT_multilayer_template_v001.exr
.vs/SSRT/FileContentIndex/ed3cf078-5d55-4ddb-91a9-f1d153f8f88d.vsidx
.vs/SSRT/v17/ipch/AutoPCH/983f90b79e7af5cb/VCTMP2016_927127.MAIN.00000000.ipch
.vs/SSRT/v17/ipch/AutoPCH/b70e33d83d2fdb95/MESH.ipch
.vs/SSRT/v17/ipch/AutoPCH/f68bddf963c0932c/TRANSFORM.ipch
renders/SSRT_Linear_v001.exr
renders/SSRT_Linear_v001.png
renders/SSRT_Linear_v002.exr
renders/SSRT_Linear_v002.png
renders/SSRT_Linear_v001.exr
