.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SSRT/FileContentIndex/3f92f928-7604-41c3-9142-ecb02e53f2f0.vsidx
.vs/SSRT/FileContentIndex/9a9aa249-e436-4a58-9b20-2a8ff11b9413.vsidx
.vs/SSRT/FileContentIndex/c7997bd9-8b62-4864-be4d-f695265933fe.vsidx
.vs/SSRT/FileContentIndex/d0de1b0c-3164-4c19-a905-feebcbb04d64.vsidx
.vs/SSRT/FileContentIndex/dbf4584d-d3fa-49eb-894d-c6ae204032a3.vsidx
.vs/SSRT/v17/.wsuo
.vs/SSRT/v17/Browse.VC.db
.vs/SSRT/v17/Browse.VC.db-shm
.vs/SSRT/v17/Browse.VC.db-wal
.vs/SSRT/v17/Browse.VC.opendb
.vs/SSRT/v17/DocumentLayout.backup.json
.vs/SSRT/v17/DocumentLayout.json
.vs/SSRT/v17/ipch/AutoPCH/316388755d406356/MAIN.ipch
.vs/SSRT/v17/ipch/AutoPCH/af765576de8808cb/VCTMP21976_709740.MAIN.00000000.ipch
.vs/SSRT/v17/ipch/AutoPCH/f0964220e5883db5/MAIN.ipch
.vs/SSRT/v17/Solution.VC.db
.vs/VSWorkspaceState.json
